<div class="row">
	<h1>Lights Controller</h1>
	<div class="thumbnail">
		<a href="/on1" class="btn btn-success">on1</a>
		<a href="/blink1" class="btn btn-info">Blink1</a>
		<a href="/off1" class="btn btn-danger">off1</a>
	</div>
	<div class="thumbnail">
		<a href="/on2" class="btn btn-success">on2</a>
		<a href="/blink2" class="btn btn-info">Blink2</a>
		<a href="/off2" class="btn btn-danger">off2</a>
	</div>
</div>