<script src="/socket.io/socket.io.js"></script>

<div class="row">
	<div class="block">

	</div>
</div>

<script type="text/javascript">
	  var socket = io();

	// setInterval(function(){

	// 	socket.emit('chat message', 'oi');
	// }, 1000);
	var block = document.querySelector('.block');
	socket.on('yo', function(msg){

		block.innerHTML = msg;

		if (Number(msg) > 700){
			block.style.background = 'blue'
		}
		else{
			block.style.background = 'red'	
		}

	});

</script>